@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@549&display=swap");
body {
  margin: 28px;
  font-family: "Raleway", sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navigation {
  margin-left: auto;
}

.header .navigation a {
  text-decoration: none;
  color: #242424;
  padding: 40px;
}

.header .navigation .active {
  color: #0065fc;
  border-top: #0065fc 2px solid;
}

@media (min-width: 1024px) {
  .header-mobile {
    display: none;
  }
  .navigation-mobile {
    display: none;
  }
  .button-mobile {
    display: none;
  }
  .title-mobile {
    display: none;
  }
}

@media (max-width: 1024px) {
  .header {
    display: none;
  }
  body {
    margin: 0px;
  }
  .header-mobile {
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-mobile .right {
    margin-left: auto;
  }
  .header-mobile .right a {
    text-decoration: none;
    color: #0065fc;
    padding: 40px;
    font-weight: bold;
  }
  .navigation-mobile {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    text-align: center;
  }
  .navigation-mobile div {
    padding: 15px;
    border-bottom: #d6d6d6 4px solid;
  }
  .navigation-mobile .active {
    border-bottom: #0065fc 4px solid;
  }
  .navigation-mobile a {
    text-decoration: none;
    color: #0065fc;
  }
}

.search {
  margin-top: 54px;
}

.search .big-text {
  font-size: 22px;
}

.search .bold {
  font-weight: bold;
}

.search .mt-10 {
  margin-top: 10px;
}

.search .box {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search .box .icone {
  background: #f2f2f2;
  border-radius: 15px 0 0 15px;
  padding: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search .box .input input {
  padding: 15px;
  border: #f2f2f2 2px solid;
  outline: none;
  border-left: none;
  border-right: none;
}

.search .box .input input::-webkit-input-placeholder {
  color: black;
  font-weight: bold;
}

.search .box .input input:-ms-input-placeholder {
  color: black;
  font-weight: bold;
}

.search .box .input input::-ms-input-placeholder {
  color: black;
  font-weight: bold;
}

.search .box .input input::placeholder {
  color: black;
  font-weight: bold;
}

.search .box .button {
  border-radius: 0 15px 15px 0;
  padding: 15px;
  background-color: #0065fc;
}

.search .box .button a {
  text-decoration: none;
  color: white;
}

@media (max-width: 1024px) {
  .search {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 32px;
  }
  .search .box .icone {
    padding: 20px;
  }
  .search .box .input input {
    padding: 20px;
  }
  .search .box .button {
    display: none;
  }
  .search .box .button-mobile {
    position: relative;
    left: -12px;
    color: white;
    border-radius: 15px;
    padding: 20px;
    background-color: #0065fc;
  }
}

.filter {
  margin-top: 30px;
  font-weight: bold;
}

.filter .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filter .list .tag {
  margin-top: 10px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.filter .list .tag .icone {
  background: #deebff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0065fc;
  position: absolute;
}

.filter .list .tag .name {
  border-radius: 30px;
  padding: 15px;
  border: 3px #f2f2f2 solid;
  padding-left: 60px;
}

@media (max-width: 1024px) {
  .filter .title-mobile {
    margin-left: 20px;
  }
  .filter .title {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */