@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@549&display=swap");
body {
  margin: 28px;
  margin-left: 140px;
  margin-right: 140px;
  font-family: "Raleway", sans-serif;
}

.bold {
  font-weight: bold;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navigation {
  margin-left: auto;
}

.header .navigation a {
  text-decoration: none;
  color: #242424;
  padding: 40px;
}

.header .navigation a:hover {
  color: #0065fc;
}

.header .navigation .active {
  color: #0065fc;
  border-top: #0065fc 2px solid;
}

@media (min-width: 1600px) {
  .header-mobile {
    display: none;
  }
  .navigation-mobile {
    display: none;
  }
  .button-mobile {
    display: none;
  }
  .title-mobile {
    display: none;
  }
}

@media (max-width: 1600px) {
  .header {
    display: none;
  }
  body {
    margin: 0px;
  }
  .header-mobile {
    margin: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-mobile .right {
    margin-left: auto;
  }
  .header-mobile .right a {
    text-decoration: none;
    color: #0065fc;
    padding: 40px;
    font-weight: bold;
  }
  .navigation-mobile {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    text-align: center;
  }
  .navigation-mobile div {
    padding: 15px;
    border-bottom: #d6d6d6 4px solid;
  }
  .navigation-mobile .active {
    border-bottom: #0065fc 4px solid;
  }
  .navigation-mobile a {
    text-decoration: none;
    color: #0065fc;
  }
}

.search {
  margin-top: 54px;
}

.search .big-text {
  font-size: 22px;
}

.search .mt-10 {
  margin-top: 10px;
}

.search .box {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search .box .icone {
  background: #f2f2f2;
  border-radius: 15px 0 0 15px;
  padding: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.search .box .input input {
  padding: 15px;
  border: #f2f2f2 2px solid;
  outline: none;
  border-left: none;
  border-right: none;
}

.search .box .input input::-webkit-input-placeholder {
  color: black;
  font-weight: bold;
}

.search .box .input input:-ms-input-placeholder {
  color: black;
  font-weight: bold;
}

.search .box .input input::-ms-input-placeholder {
  color: black;
  font-weight: bold;
}

.search .box .input input::placeholder {
  color: black;
  font-weight: bold;
}

.search .box .button {
  border-radius: 0 15px 15px 0;
  padding: 15px;
  background-color: #0065fc;
}

.search .box .button a {
  text-decoration: none;
  color: white;
}

@media (max-width: 1600px) {
  .search {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 32px;
  }
  .search .box .icone {
    padding: 20px;
  }
  .search .box .input input {
    padding: 20px;
  }
  .search .box .button {
    display: none;
  }
  .search .box .button-mobile {
    position: relative;
    left: -12px;
    color: white;
    border-radius: 15px;
    padding: 20px;
    background-color: #0065fc;
  }
}

.filter {
  margin-top: 30px;
  font-weight: bold;
}

.filter .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filter .list .tag {
  margin-top: 10px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.filter .list .tag .icone {
  background: #deebff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #0065fc;
  position: absolute;
}

.filter .list .tag .name {
  border-radius: 30px;
  padding: 15px;
  border: 3px #f2f2f2 solid;
  padding-left: 60px;
}

.filter .list .tag:hover {
  color: #0065fc;
  cursor: pointer;
}

@media (max-width: 1600px) {
  .filter .title-mobile {
    margin-left: 20px;
  }
  .filter .title {
    display: none;
  }
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info .icone {
  color: #0065fc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: #f2f2f2 solid 1px;
}

.info .texte {
  margin-left: 10px;
}

@media (max-width: 1600px) {
  .info {
    margin-left: 20px;
  }
}

.hosting {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 63% auto;
      grid-template-columns: 63% auto;
  grid-gap: 40px;
}

.hosting .left {
  background: #f2f2f2;
  padding: 40px;
  border-radius: 20px;
}

.hosting .left .title {
  font-weight: bold;
  font-size: 22px;
  margin: 0;
}

.hosting .left .more {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  padding-top: 40px;
}

.hosting .left .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 10px;
}

.hosting .left .list .card {
  margin-top: 20px;
  width: 237px;
  background: white;
  border-radius: 15px 15px 15px 15px;
  font-size: 15px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.hosting .left .list .card a {
  text-decoration: none;
  color: black;
}

.hosting .left .list .card .bold {
  font-weight: bold;
}

.hosting .left .list .card .logo {
  margin-top: 6px;
  text-align: center;
}

.hosting .left .list .card .logo img {
  border-radius: 8px 8px 0 0;
  width: 96%;
  height: 113px;
  -o-object-fit: cover;
     object-fit: cover;
}

.hosting .left .list .card .bottom {
  padding: 5px 10px 10px 10px;
}

.hosting .left .list .card .bottom .card-title {
  font-weight: bold;
  font-size: 17px;
  margin: 0;
}

.hosting .left .list .card .bottom .price {
  margin-top: 5px;
}

.hosting .left .list .card .bottom .stars {
  margin-top: 10px;
  color: #0065fc;
}

.hosting .left .list .card .bottom .grey {
  color: #f2f2f2;
}

.hosting .right {
  background: #f2f2f2;
  padding: 40px;
  border-radius: 20px;
}

.hosting .right .title-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hosting .right .title-box .title {
  font-weight: bold;
  font-size: 22px;
  margin: 0;
}

.hosting .right .title-box .icone {
  font-size: 30px;
}

.hosting .right .list {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hosting .right .list a {
  text-decoration: none;
  color: black;
}

.hosting .right .list .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: white;
  padding: 6px;
  border-radius: 20px;
  position: relative;
  margin-bottom: 30px;
}

.hosting .right .list .card .top .image img {
  border-radius: 15px 0px 0 15px;
  width: 140px;
  height: 135px;
  -o-object-fit: cover;
     object-fit: cover;
}

.hosting .right .list .card .bottom {
  margin-top: 10px;
  margin-left: 20px;
}

.hosting .right .list .card .bottom .title {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}

.hosting .right .list .card .bottom .price {
  margin-top: 10px;
  font-size: 15px;
}

.hosting .right .list .card .bottom .stars {
  position: absolute;
  bottom: 15px;
  margin-top: 10px;
  color: #0065fc;
}

.hosting .right .list .card .bottom .grey {
  color: #f2f2f2;
}

@media (max-width: 375px) {
  .hosting .right .list .card .bottom .title {
    font-size: 15px;
  }
  .hosting .right .list .card .bottom .stars {
    position: inherit;
  }
}

@media (max-width: 1600px) {
  .hosting {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    grid-gap: 0px;
  }
  .hosting .left {
    background: white;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    border-radius: 0px;
  }
  .hosting .left .list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hosting .left .list .card {
    width: 100%;
  }
  .hosting .right {
    border-radius: 0px;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}

.activity {
  margin: 0;
  margin-top: 50px;
  padding: 10px;
}

.activity .title {
  font-weight: bold;
  font-size: 22px;
}

.activity .list {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
}

.activity .list .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: bold;
}

.activity .list .box a {
  text-decoration: none;
  color: black;
}

.activity .list .box .card {
  width: 80%;
  border-radius: 15px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.activity .list .box .card .image img {
  border-radius: 15px 15px 0 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.activity .list .box .card .image .tiny {
  height: 150px;
}

.activity .list .box .card .image .big {
  height: 387px;
}

.activity .list .box .card .title {
  font-size: 17px;
  padding: 15px;
  margin: 0;
}

@media (max-width: 1600px) {
  .activity {
    padding: 0px;
  }
  .activity .title {
    padding-left: 40px;
  }
  .activity .list {
    margin-top: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    padding: 40px;
  }
  .activity .list .box .card {
    width: 100%;
    margin-bottom: 20px;
  }
  .activity .list .box .card .image .tiny {
    height: 200px;
  }
  .activity .list .box .card .image .big {
    height: 200px;
  }
}

.footer {
  margin-top: 80px;
  left: 0;
  width: 100%;
  position: absolute;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .box {
  margin-left: 140px;
  padding: 20px;
}

.footer .box h1 {
  font-size: 1.30em;
}

.footer .box a {
  color: #1d1d1d;
  text-decoration: none;
}

@media (max-width: 1600px) {
  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer .box {
    margin-left: 0px;
  }
}
/*# sourceMappingURL=style.css.map */